// @import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import './theme';
@import './form';

// Global

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  background: var(--primary);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

#app {
  min-height: 100vh;

  display: grid;
  grid-template-areas: 'app-header' 'app-view' 'app-footer';

  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 75px;
}

.app-view {
  grid-area: app-view;

  margin-top: 10px;
  margin-bottom: 10px;
}

// Util

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
